<p>
  Welcome to Product List Page
</p>


 <table class="table">

  <thead>
    <th>
      ID
    </th>
    <th>
      Name
    </th>
    <th>
      Price
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let product of productlist" >
      <td>
          {{product.id}}
      </td>
      <td>
        {{product.name}}
      </td>
      <td>
        {{product.price | currency}}
      </td>
      </tr>
  </tbody>
 </table> 


 <button class="btn btn-primary" (click)="getProducts()">Send Product</button>