<p>
  Welcome to Product List Page
</p>

<input type="text" name="price"  [(ngModel)]="price" required class="form-control" /> 

 <table class="table">

  <thead>
    <th>
      ID
    </th>
    <th>
    </th>
    <th>
      Price
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let product of productlist " >
      <td>
          {{product.id}}
      </td>
      <!-- built in pipes upprecase/currency-->
      <td>
        {{product.name | uppercase }}
      </td>
      <td>
        {{product.price | customcurrency:'INR'}}
      </td>
      <td>
         <button type="submit" [routerLink]="['/product',product.id]" class="btn btn-primary">Details</button>
        </td>
      </tr>
  </tbody>
 </table> 


 <!-- <button class="btn btn-primary" (click)="getProducts()">Send Product</button> -->
 <router-outlet></router-outlet>