<div [hidden]="false" [innerHtml]="title" style="text-align:center"> 
  <!-- Property Binding & interpolation syntax -->
</div>
<!-- <input ng-hide="isVisible"  type="text" name="ID" placeholder="Hide"/> -->
<div>
  <div>
           Welcome to Angular JS  {{apps}} Project managed by {{title}} 
  
  </div>
<!-- {{isVisisble}} -->

<!--banana syntax -->
<!-- <button (click)="toggle()">Toggle</button> 
</div> -->

<!-- Commented for Router impl-->
<!-- <app-product></app-product>

<app-order></app-order> -->




  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink='/welcome'>Product Management</a>
    </div>
    <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Home</a></li> -->
        <li><a routerLink='/order'>Order</a></li>
        <li><a routerLink='/product'>Product</a></li>
        
      </ul>
  </div>
</nav>






<router-outlet></router-outlet>